@media (max-width:992px) {
    /* header section design */
    /* End header section design */
    
    
    /* main section design */

    /* sidebar section design */
    /* End sidebar section design */
    
    
    /* grid-layout section design */
    /* End grid-layout section design */

    /* End main section design */
}
@media (max-width:767px) {
    /* header section design */
    header .middle{
        padding: 0 0.5rem;
    }
    header .right .fa-video,
    header .right .fa-bell,
    header .middle .fa-microphone{
        display: none;
    }
    header .right #search{
        display: inline;
    }
    /* End header section design */
    
    
    /* main section design */

    /* sidebar section design */
    /* End sidebar section design */
    
    
    /* grid-layout section design */
    /* End grid-layout section design */

    /* End main section design */
}
@media (max-width:592px) {
    /* header section design */
    header .middle{
        display: none;
    }
    header .right .fa-video,
    header .right .fa-bell{
        display: inline;
    }
    /* End header section design */
    
    
    /* main section design */

    /* sidebar section design */
    /* End sidebar section design */
    
    
    /* grid-layout section design */
    /* End grid-layout section design */

    /* End main section design */

    /* footer section design */
    /* End footer section design */
}
@media (max-width:480px) {
    /* header section design */
    header .right .fa-video{
        display: none;
    }
    /* End header section design */
    
    
    /* main section design */

    /* sidebar section design */
    /* End sidebar section design */
    
    
    /* grid-layout section design */
    /* End grid-layout section design */

    /* End main section design */

    /* footer section design */
    /* End footer section design */
}
@media (max-width:333px) {
    /* header section design */
    header .left i,
    header .right .fa-bell{
        display: none;
    }
    /* End header section design */
    
    
    /* main section design */

    /* sidebar section design */
    /* End sidebar section design */
    
    
    /* grid-layout section design */
    /* End grid-layout section design */

    /* End main section design */

    /* footer section design */
    /* End footer section design */
}