/* custom design */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
:root{
    --light-white: rgba(0,0,0,0.02);
    --white: #fff;
    --black: #000;
    --light-black: rgba(0,0,0,0.1);
}
a{
    text-decoration: none;
}
i{
    font-size: 1.413rem;
    cursor: pointer;
    padding: 0.813rem;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
}
i:hover::after{
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
    border-radius: 5px;
    font-size: 9px;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 2px;
}
i:hover{
    background-color: var(--light-black);
}
.img-fluid{
    width: 100%;
}
/* End custom design */


/* header section design */
header{
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: var(--white);
}
header .left,
header .right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
}
#logo{
    width: 120px;
}
header .left .fa-bars:hover::after{
    content: 'Menu';
}
header .middle{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
}
header .middle .search{
    flex: 1;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border: 1px solid var(--light-black);
}
header .middle .search input{
    flex: 1;
    padding: 0.713rem 1.5rem;
    font-size: 18px;
    border: none;
    outline: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: transparent;
}
header .middle .search i{
    flex-basis: 70px;
    background-color: var(--light-white);
    border-radius: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
header .middle .search i:hover{
    background-color: var(--light-black);
}
header .middle .search i:hover::after{
    content: 'search';
}
header .right .fa-video:hover::after{
    content: 'shorts';
}
header .right .fa-bell{
    position: relative;
}
header .right .fa-bell:hover::after{
    content: 'notification';
}
header .right .fa-bell span{
    position: absolute;
    top: 1px;
    right: 2px;
    font-size: 12px;
    padding: 3px 6px;
    background-color: #f00;
    border-radius: 50%;
    color: var(--white);
}
header .right .fa-user{
    background-color: var(--light-white);
}
header .right .fa-user:hover::after{
    content: 'User';
}
header .right .fa-user:hover{
    background-color: var(--light-black);
}
header .right #search{
    display: none;
}
header .right #search:hover::after{
    content: 'search';
}

/* End header section design */


/* navbar section design */
nav{
    position: fixed;
    top: 75px;
    left: 100px;
    width: calc(100% - 100px);
    height: 50px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: inherit;
    overflow-x: auto;
}
nav ul::-webkit-scrollbar{
    height: 0;
}
nav ul li a{
    padding: 5px 10px;
    background-color: var(--light-white);
    border-radius: 3px;
    transition: all .3s ease;
    margin: 0 1rem;
}
nav ul li a:hover{
    background-color: var(--light-black);
}
/* End navbar section design */

/* main section design */

/* sidebar section design */
aside{
    width: 100px;
    min-height: calc(100vh - 75px);
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--white);
}
aside div{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem 0;
    cursor: pointer;
    font-size: 0.625rem;
    transition: all 0.3s ease;
    border-radius: 5px;
}
aside div:hover{
    background-color: var(--light-black);
}
aside div i{
    pointer-events: none;
    padding: 0;
}
aside div img{
    width: 30%;
}
/* End sidebar section design */


/* grid-layout section design */
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 135px;
    margin-left: 110px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.grid article{
    /* min-height: 350px; */
    background-color: rgba(0,0,0,0.001);
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
}
.grid article:hover{
    background-color: var(--light-white);
}
.grid article .top{
    /* height: 230px; */
    position: relative;
}
.grid article .top span{
    font-size: 1.125rem;
    background-color: var(--black);
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: var(--white);
    border-radius: 5px;

}
.grid article .top i{
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--white);
    display: none;
}
.grid article:hover .top i{
    display: inline;
}
.grid article .top img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.grid article:hover .top img{
    border-radius: 0;
}
.grid article .bottom{
    display: flex;
}
.grid article .bottom .left{
    width: 70px;
    text-align: center;
    padding-top: 10px;
}
.grid article .bottom .left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.grid article .bottom .right{
    flex: 1;
    padding: 10px;
}
.grid article .bottom .right .title{
    font-size: 1rem;
    text-align: justify;
    font-weight: 500;
    margin-bottom: 5px;
}
.grid article .bottom .right .desc{
    font-weight: 400;
    color: rgba(0,0,0,0.5);
}
/* End grid-layout section design */

/* End main section design */

/* footer section design */
/* End footer section design */